.css-sghohy-MuiButtonBase-root-MuiButton-root {
    color: red !important;
    background-color: yellow !important;
    margin-top: 300px !important;
    width: 100px !important;
}

.css-iljtu2-MuiRating-root{
    color: green !important;
    font-size: 30px !important;
}